@import "compass";

* {
  &, &:after, &:before {
    vertical-align: top;
    @include box-sizing(border-box);
  }
}
$dimension: 100px;
$borderWidth: 10px;
$color: green;
$activeColor: rgba(255, 0, 0, 1);
.eye {
  position: relative;
  display: inline-block;
  width: $dimension;
  height: $dimension;
  // border: $borderWidth solid rgba(255, 0, 0, .3);
  &, *, &:before, &:after {
    @include transition(all .5s);
  }

  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: $dimension;
    height: $dimension;
    border: $borderWidth solid $color;
  }
  &:hover {
    &:before {
      top: $dimension / 4;
      height: $dimension / 2;
      border-color: $activeColor;
      @include border-radius(50%);
    }
    &:after {
      top: $dimension / 4 + $borderWidth / 2;
      left: $dimension / 4 + $borderWidth / 2;
      width: $dimension / 2 - $borderWidth;
      height: $dimension / 2 - $borderWidth;
      border-color: $activeColor;

      @include border-radius(50%);
    }
  }

}


// .box {
//   border: 1px solid rgba(255, 0, 0, .3);
//   position: relative;
//   display: inline-block;
//   width: 100px;
//   height: 100px;

//   &:after {
//     content: attr(title);
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     display: block;
//     width: 100%;
//     height: 100%;
//     text-align: left;
//     padding: 10px;
//     padding-top: 20px;
//     text-indent: 0;
//     color: rgba(255, 255, 255, 1);

//     @include transition(all .3s);
//     @include text-shadow(0 1px 2px rgba(0, 0, 0, .8));
//     @include background-image(
//                   linear-gradient(
//                       rgba(66, 133, 244, .2) 0,
//                       rgba(66, 133, 244, .8) 100%
//                   ));
//   }
// }


// // img {
// //   position: relative;
// //   width: 300px;

// //   &:after {
// //     content: attr(title);
// //     position: absolute;
// //     left: 0;
// //     bottom: 0;
// //     display: block;
// //     width: 100%;
// //     max-height: 93px;
// //     text-align: left;
// //     padding: 10px;
// //     padding-top: 20px;
// //     text-indent: 0;
// //     color: rgba(255, 255, 255, 1);

// //     @include text-shadow(0 1px 2px rgba(0, 0, 0, .8));
// //     @include background-image(
// //                   linear-gradient(
// //                       rgba(0, 0, 0, 0) 5%,
// //                       rgba(0, 0, 0, .1) 15%,
// //                       rgba(0, 0, 0, .9) 100%
// //                   ));
// //   }
// // }




// // // * {
// // //   &, &:after, &:before {
// // //     vertical-align: top;
// // //     @include box-sizing(border-box);
// // //   }
// // // }

// // // @mixin input () {
// // //   width: 250px;
// // //   padding: 5px;
// // //   border: 1px solid rgba(39, 40, 34, .25);
// // //   font-size: 16px;
// // //   color: rgba(50, 50, 50, 0.7);

// // //   @include border-radius (2px);
// // //   @include transition(all .3s);

// // //   &:focus {
// // //     outline: 0;
// // //     border: 1px solid rgba(102, 175, 233, 1);
// // //     @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6));
// // //   }
// // // }

// // // @mixin clearfix () {
// // //   *zoom: 1;

// // //   &:after {
// // //     display: table;
// // //     content: "";
// // //     line-height: 0;
// // //     clear: both;
// // //   }
// // // }

// // // $dimension: 40px;
// // // $borderWidth: 10px;
// // // $borderRadius: 4px;
// // // $color: rgba(205, 0, 0, .1);
// // // $activeColor: rgba(255, 0, 0, .7);
// // // $seq: 1.414213562373095;

// // // .digits {
// // //   @include clearfix();
// // // }

// // // .digit {
// // //   position: relative;
// // //   display: inline-block;
// // //   width: $dimension;
// // //   float: left;
// // //   margin-right: 7px;

// // //   &:before, &:after {
// // //     content: "";
// // //     position: relative;
// // //     display: block;
// // //     width: $dimension;
// // //     height: $dimension;
// // //     border: $borderWidth solid $activeColor;
// // //     @include transition(all .5s);
// // //     @include border-radius($borderRadius);
// // //   }
// // //   &:before {
// // //     border-bottom-width: $borderWidth / 2;
// // //     border-bottom-color: $color;
// // //   }
// // //   &:after {
// // //     border-top-width: $borderWidth / 2;
// // //     border-top-color: $color;
// // //   }

// // //   &.b0 {
// // //     &:before {
// // //       border-top-color: $color;
// // //       border-left-color: $color;
// // //       border-right-color: $activeColor;
// // //     }
// // //     &:after {
// // //       border-right-color: $activeColor;
// // //       border-bottom-color: $color;
// // //       border-left-color: $color;
// // //     }
// // //     &.b1 {
// // //       &:before {
// // //       }
// // //       &:after {
// // //         border-left-color: $color;
// // //         border-right-color: $activeColor;
// // //       }
// // //       &.b2 {
// // //         &:before {
// // //           border-top-color: $activeColor;
// // //           border-left-color: $color;
// // //           border-right-color: $activeColor;
// // //           border-bottom-color: $color;
// // //         }
// // //         &:after {
// // //           border-top-color: $color;
// // //           border-bottom-color: $color;
// // //           border-left-color: $color;
// // //         }
// // //         &.b3 {
// // //           &:before {
// // //             border-top-color: $activeColor;
// // //             border-left-color: $activeColor;
// // //             border-right-color: $color;
// // //           }
// // //           &:after {
// // //             border-left-color: $activeColor;
// // //             border-right-color: $color;
// // //             border-bottom-color: $color;
// // //           }
// // //         }
// // //       }
// // //       &.b3 {
// // //         &:before {
// // //           border-top-color: $color;
// // //           border-right-color: $color;
// // //         }
// // //         &:after {
// // //           border-left-color: $activeColor;
// // //           border-bottom-color: $activeColor;
// // //         }
// // //       }
// // //     }
// // //     &.b2 {
// // //       &:before {
// // //         border-top-color: $activeColor;
// // //         border-right-color: $color;
// // //       }
// // //       &:after {
// // //         border-bottom-color: $activeColor;
// // //       }
// // //       &.b3 {
// // //         &:before {
// // //           border-top-color: $color;
// // //           border-left-color: $color;
// // //           border-right-color: $activeColor;
// // //           border-bottom-color: $activeColor;
// // //         }
// // //         &:after {
// // //           border-top-color: $activeColor;
// // //           border-right-color: $activeColor;
// // //           border-left-color: $activeColor;
// // //         }
// // //       }
// // //     }
// // //     &.b3 {
// // //       &:before {
// // //       }
// // //       &:after {
// // //         border-left-color: $color;
// // //       }
// // //     }
// // //   }
// // //   &.b1 {
// // //     &:before {
// // //       border-top-color: $activeColor;
// // //       border-right-color: $activeColor;
// // //       border-bottom-color: $activeColor;
// // //       border-left-color: $color;
// // //     }
// // //     &:after {
// // //       border-top-color: $activeColor;
// // //       border-left-color: $activeColor;
// // //       border-bottom-color: $activeColor;
// // //       border-right-color: $color;
// // //     }
// // //     &.b2 {
// // //       &:before {
// // //         border-top-color: $activeColor;
// // //         border-right-color: $color;
// // //       }
// // //       &:after {
// // //         border-bottom-color: $activeColor;
// // //         border-left-color: $activeColor;
// // //       }
// // //       &.b3 {
// // //         &:before {
// // //           border-left-color: $activeColor;
// // //           border-bottom-color: $activeColor;
// // //         }
// // //         &:after {
// // //           border-top-color: $activeColor;
// // //           border-left-color: $activeColor;
// // //           border-bottom-color: $activeColor;
// // //         }
// // //       }
// // //     }
// // //     &.b3 {
// // //       &:before {
// // //       }
// // //       &:after {
// // //         border-bottom-color: $color;
// // //       }
// // //     }
// // //   }
// // //   &.b2 {
// // //     &:before {
// // //       border-left-color: $activeColor;
// // //       border-right-color: $activeColor;
// // //       border-bottom-color: $activeColor;
// // //       border-top-color: $color;
// // //     }
// // //     &:after {
// // //       border-top-color: $activeColor;
// // //       border-right-color: $activeColor;
// // //       border-left-color: $color;
// // //       border-bottom-color: $color;
// // //     }
// // //     &.b3 {
// // //       &:before {
// // //         border-right-color: $color;
// // //         border-bottom-color: $color;
// // //       }
// // //       &:after {
// // //         border-top-color: $color;
// // //         border-right-color: $color;
// // //       }
// // //     }
// // //   }
// // //   &.b3 {
// // //     &:before {
// // //       border-color: $activeColor;
// // //     }
// // //     &:after {
// // //       border-color: $activeColor;
// // //     }
// // //   }
// // // }

// // // .counter {
// // //   &:before {
// // //     @include animation (before_counter 10s infinite);
// // //   }
// // //   &:after {
// // //     @include animation (after_counter 10s infinite);
// // //   }
// // // }

// // // @include keyframes(before_counter) {
// // //   0% {
// // //     border-top-color: $activeColor;
// // //     border-left-color: $activeColor;
// // //     border-right-color: $activeColor;
// // //     border-bottom-color: $color;
// // //   }
// // //   10% {
// // //     border-top-color: $color;
// // //     border-left-color: $color;
// // //     border-right-color: $activeColor;
// // //     border-bottom-color: $color;
// // //   }
// // //   20% {
// // //     border-top-color: $activeColor;
// // //     border-left-color: $color;
// // //     border-right-color: $activeColor;
// // //     border-bottom-color: $activeColor;
// // //   }
// // //   30% {
// // //     border-top-color: $activeColor;
// // //     border-left-color: $color;
// // //     border-right-color: $activeColor;
// // //     border-bottom-color: $activeColor;
// // //   }
// // //   40% {
// // //     border-top-color: $color;
// // //     border-left-color: $activeColor;
// // //     border-right-color: $activeColor;
// // //     border-bottom-color: $activeColor;
// // //   }
// // //   50% {
// // //     border-top-color: $activeColor;
// // //     border-left-color: $activeColor;
// // //     border-right-color: $color;
// // //     border-bottom-color: $activeColor;
// // //   }
// // //   60% {
// // //     border-top-color: $activeColor;
// // //     border-left-color: $activeColor;
// // //     border-right-color: $color;
// // //     border-bottom-color: $activeColor;
// // //   }
// // //   70% {
// // //     border-top-color: $activeColor;
// // //     border-left-color: $color;
// // //     border-right-color: $activeColor;
// // //     border-bottom-color: $color;
// // //   }
// // //   80% {
// // //     border-top-color: $activeColor;
// // //     border-left-color: $activeColor;
// // //     border-right-color: $activeColor;
// // //     border-bottom-color: $activeColor;
// // //   }
// // //   90% {
// // //     border-top-color: $activeColor;
// // //     border-left-color: $activeColor;
// // //     border-right-color: $activeColor;
// // //     border-bottom-color: $activeColor;
// // //   }
// // //   100% {
// // //     border-top-color: $activeColor;
// // //     border-left-color: $activeColor;
// // //     border-right-color: $activeColor;
// // //     border-bottom-color: $color;
// // //   }
// // // }

// // // @include keyframes(after_counter) {
// // //   0% {
// // //     border-top-color: $color;
// // //     border-left-color: $activeColor;
// // //     border-right-color: $activeColor;
// // //     border-bottom-color: $activeColor;
// // //   }
// // //   10% {
// // //     border-top-color: $color;
// // //     border-left-color: $color;
// // //     border-right-color: $activeColor;
// // //     border-bottom-color: $color;
// // //   }
// // //   20% {
// // //     border-top-color: $activeColor;
// // //     border-left-color: $activeColor;
// // //     border-right-color: $color;
// // //     border-bottom-color: $activeColor;
// // //   }
// // //   30% {
// // //     border-top-color: $activeColor;
// // //     border-left-color: $color;
// // //     border-right-color: $activeColor;
// // //     border-bottom-color: $activeColor;
// // //   }
// // //   40% {
// // //     border-top-color: $activeColor;
// // //     border-left-color: $color;
// // //     border-right-color: $activeColor;
// // //     border-bottom-color: $color;
// // //   }
// // //   50% {
// // //     border-top-color: $activeColor;
// // //     border-left-color: $color;
// // //     border-right-color: $activeColor;
// // //     border-bottom-color: $activeColor;
// // //   }
// // //   60% {
// // //     border-top-color: $activeColor;
// // //     border-left-color: $activeColor;
// // //     border-right-color: $activeColor;
// // //     border-bottom-color: $activeColor;
// // //   }
// // //   70% {
// // //     border-top-color: $color;
// // //     border-left-color: $color;
// // //     border-right-color: $activeColor;
// // //     border-bottom-color: $color;
// // //   }
// // //   80% {
// // //     border-top-color: $activeColor;
// // //     border-left-color: $activeColor;
// // //     border-right-color: $activeColor;
// // //     border-bottom-color: $activeColor;
// // //   }
// // //   90% {
// // //     border-top-color: $activeColor;
// // //     border-left-color: $color;
// // //     border-right-color: $activeColor;
// // //     border-bottom-color: $activeColor;
// // //   }
// // //   100% {
// // //     border-top-color: $color;
// // //     border-left-color: $activeColor;
// // //     border-right-color: $activeColor;
// // //     border-bottom-color: $activeColor;
// // //   }
// // // }






// // // // .doc {
// // // //   display: inline-block;
// // // //   width: $borderWidth;
// // // //   height: $borderWidth;
// // // //   background-color: $activeColor;
// // // //   margin-top: #{$dimension * 2 - $borderWidth * $seq};
// // // //   margin-right: 10px;
// // // //   margin-left: 5px;
// // // //   float: left;
// // // //   @include rotate(45deg);
// // // // }
// // // // .space {
// // // //   position: relative;
// // // //   display: inline-block;
// // // //   float: left;
// // // //   margin-right: 25px;
// // // //   width: 1px;
// // // //   height: 1px;
// // // // }
// // // // .colon {
// // // //   position: relative;
// // // //   display: inline-block;
// // // //   width: $borderWidth;
// // // //   height: $dimension * 2;
// // // //   margin: 0 10px;
// // // //   float: left;

// // // //   &:before, &:after {
// // // //     content: "";
// // // //     position: absolute;
// // // //     display: block;
// // // //     width: $borderWidth;
// // // //     height: $borderWidth;
// // // //     left: 0;
// // // //     top: ($dimension - $borderWidth) / 2;

// // // //     background-color: $activeColor;
// // // //     @include transition(all .5s);
// // // //     @include rotate(45deg);
// // // //     @include animation (colon 1s infinite);
// // // //   }
// // // //   &:after {
// // // //     top: auto;
// // // //     bottom: ($dimension - $borderWidth) / 2;
// // // //   }
// // // // }

// // // // @include keyframes(colon) {
// // // //   0% {
// // // //     @include opacity(0);
// // // //   }
// // // //   50% {
// // // //     @include opacity(1);
// // // //   }
// // // //   100% {
// // // //     @include opacity(0);
// // // //   }
// // // // }